.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.header {
  background-color: #3b4252;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  position: relative;
}

.closeButton {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-51%);
  z-index: 9;
}

.content {
  padding: 25px 15px;
  padding-bottom: 115px;
  flex-grow: 1;
  overflow-y: auto;
}
