.card {
  user-select: none;
  transition: all 0.4s;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  background-color: #ebcb8b;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.created {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #3b4252;
  opacity: 0.3;
}
